<section class="section-dark" style="background-image: url({{ .cUrl }}{{ .Params.background_image }})">
    <div class="image-overlay"></div>
    <div class="container contact-form">
        <div class="flex-row reverse">
            <div class="form-block">
                <form id="email-form">
                    <label for="name">Name:</label>
                    <input type="text" class="text-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Enter your name (Required)" id="name" required>
                    <label for="email">Email Address:</label>
                    <input type="email" class="text-field w-input" maxlength="256" name="email" data-name="Email" placeholder="Enter your email (Required)"
                        id="email" required>
                    <label for="Phone">Phone:</label>
                    <input type="text" class="text-field w-input" maxlength="256" name="Phone" data-name="Phone" placeholder="Enter your phone number"
                        id="Phone">
                    <label for="Phone-2">Sex:&nbsp;</label>
                    <select id="Gender" name="Gender" data-name="Gender" required="" class="select-field w-select">
                        <option value="">Select one...</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="Month">Birthday:</label>
                        <div class="flex-fields">
                            <select id="Month" name="Month" class="select-field flex w-select">
                                {{ partial "forms/month-dropdown.html" .}}
                            </select>
                            <select id="Day" name="Day" class="select-field flex w-select">
                                {{ partial "forms/day-dropdown.html" . }}
                            </select>
                            <select id="Year" name="Year" class="select-field flex w-select">
                                {{ partial "forms/year-dropdown.html" . }}
                            </select>
                        </div>
                    <label>I&nbsp;Am Interested In: (Check All That Apply)</label>
                    <div class="div-block-11">
                        <div class="checkbox-field w-checkbox">
                            <input type="checkbox" id="auto" name="auto" class="w-checkbox-input">
                            <label for="auto" class="w-form-label">Auto &amp; Vehicle Insurance</label>
                        </div>
                        <div class="checkbox-field w-checkbox">
                            <input type="checkbox" id="home" name="home" class="w-checkbox-input">
                            <label for="home" class="w-form-label">Home &amp; Property Insurance</label>
                        </div><div class="checkbox-field w-checkbox">
                            <input type="checkbox" id="life" name="life" class="w-checkbox-input">
                            <label for="life" class="w-form-label">Life Insurance</label>
                        </div>
                        <div class="checkbox-field w-checkbox">
                            <input type="checkbox" id="health" name="health" data-name="health" class="w-checkbox-input">
                            <label for="health" class="w-form-label">Health Insurance</label>
                        </div>
                        <div class="checkbox-field w-checkbox">
                            <input type="checkbox" id="dental" name="dental" data-name="dental" class="w-checkbox-input">
                            <label for="dental" class="w-form-label">Dental Insurance</label>
                        </div>
                    </div>
                    <input type="submit" data-wait="Please wait..." class="submit-button w-button">
                </form>
            </div>
            <address class="flex-grow contact">
                <h1 class="dark-heading">{{ .Params.heading }}</h1>
                <div class="text-block-5">
                    {{- if .phone -}}<strong>Phone: </strong>{{- .phone -}}<br>{{- end -}}
                    {{- if .fax -}}<strong>Fax:</strong>&nbsp;{{- .fax -}}<br>{{- end -}}
                    {{- if .email -}}<strong>Email:</strong>&nbsp;{{- .email -}}<br>{{- end -}}
                </div>
                <div class="text-block-5">
                    <strong>InsuranceSmart&nbsp;Office:</strong><br>
                    {{ .address | safeHTML }}
                </div>
            </address>
        </div>
    </div>
</section>