<section class="section-dark" style="background-image: url({{ .cUrl }}w_1600,q_50,f_auto{{ .Params.background_image }})">
    <div class="image-overlay"></div>
    <div class="container contact-form">
        <div class="flex-row reverse">
            <div class="form-block">
                <form id="email-form" method="POST" netlify name="email-form">
                    <label for="name">Name:</label>
                    <input type="text" class="text-field w-input" maxlength="256" name="Name" placeholder="Enter your name (Required)" id="name" required>
                    <label for="email">Email Address:</label>
                    <input type="email" class="text-field w-input" maxlength="256" name="Email" placeholder="Enter your email (Required)"
                        id="email" required>
                    <label for="Phone">Phone:</label>
                    <input type="text" class="text-field w-input" maxlength="256" name="Phone" placeholder="Enter your phone number"
                        id="Phone">
                    <label for="Phone-2">Sex:&nbsp;</label>
                    <select id="Gender" name="Gender" required class="select-field w-select">
                        <option value="">Select one...</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="Month">Birthday:</label>
                        <div class="flex-fields">
                            <select id="Month" name="Month" class="select-field flex w-select">
                                {{ partial "forms/month-dropdown.html" .}}
                            </select>
                            <select id="Day" name="Day" class="select-field flex w-select">
                                {{ partial "forms/day-dropdown.html" . }}
                            </select>
                            <select id="Year" name="Year" class="select-field flex w-select">
                                {{ partial "forms/year-dropdown.html" . }}
                            </select>
                        </div>
                    <label>I&nbsp;Am Interested In: (Check All That Apply)</label>
                    <div class="div-block-11">
                        <div class="checkbox-field w-checkbox">
                            <input type="checkbox" id="auto" name="Auto" class="w-checkbox-input">
                            <label for="auto" class="w-form-label">Auto &sol; Vehicle Insurance</label>
                        </div>
                        <div class="checkbox-field w-checkbox">
                            <input type="checkbox" id="home" name="Home" class="w-checkbox-input">
                            <label for="home" class="w-form-label">Home &sol; Property Insurance</label>
                        </div><div class="checkbox-field w-checkbox">
                            <input type="checkbox" id="life" name="Life" class="w-checkbox-input">
                            <label for="life" class="w-form-label">Life Insurance</label>
                        </div>
                        <div class="checkbox-field w-checkbox">
                            <input type="checkbox" id="health" name="Health" class="w-checkbox-input">
                            <label for="health" class="w-form-label">Health Insurance</label>
                        </div>
                        <div class="checkbox-field w-checkbox">
                            <input type="checkbox" id="umbrella" name="Umbrella" class="w-checkbox-input">
                            <label for="umbrella" class="w-form-label">Umbrella Insurance</label>
                        </div>
                    </div>
                    <input type="submit" data-wait="Please wait..." class="submit-button w-button">
                </form>
            </div>
            <address class="flex-grow contact">
                {{ $phoneclean := replace .phone "+1-" "" }}
                {{ $phonelong := replace .phone "-" "" }}
                {{ $faxclean := replace .fax "+1-" "" }}
                {{ $faxlong := replace .fax "-" "" }}
                <h1 class="dark-heading">{{ .Params.heading }}</h1>
                <div class="text-block-5">
                    {{- if .phone -}}<strong>Phone: </strong><a href="tel:{{ $phonelong }}">{{- $phoneclean -}}</a><br>{{- end -}}
                    {{- if .fax -}}<strong>Fax:</strong>&nbsp;{{- $faxclean -}}<br>{{- end -}}
                    {{- if .email -}}<strong>Email:</strong>&nbsp;<a href="mailto:{{ .email }}?subject=Questions about Insurance">{{- .email -}}</a><br>{{- end -}}
                </div>
                <div class="text-block-5">
                    <strong>InsuranceSmart&nbsp;Office:</strong><br>
                    {{ .address | safeHTML }}
                </div>
            </address>
        </div>
    </div>
</section>