<div class="div-block-43">
  <div class="div-block-44">
    <h1 class="h1-no-margin-large">Get Email Updates</h1>
    <p class="email-text">
      You&#x27;ll start receiving insurance advice right to your inbox.
    </p>
    <div class="quote-box-copy">
      <form
        method="post"
        action="https://getinsurancesmart.us20.list-manage.com/subscribe/post?u=ce94cdd7d3aa0cb9144f23eb5&id=f9a4c5bcbe"
        id="email-form-3"
        name="email-form-3"
        data-name="Email Form 3"
        class="form-2-copy"
      >
        <div class="quote-form-wrap-copy">
          <input
            type="text"
            class="text-field-2 w-input"
            maxlength="256"
            name="Email-3"
            data-name="Email 3"
            placeholder="Enter email address"
            id="Email-3"
            required
          />
          <input
            type="submit"
            value="Submit"
            data-wait="Please wait..."
            class="get-a-quote w-button"
          />
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
  <div class="quote-box-disclaimer">
    We treat customer information with great care. We never sell information,
    and we do not spam.
  </div>
</div>
