{{ $d := .context.default | lower }}
{{ $data := .data }}
<div class="w-embed w-script">
    <form name="gaqList" id="gaqList" onsubmit="return submitForm();">
        <div class="quote-form-wrap" onload="setProduct();">
            <input
                id="zip"
                required=""
                type="text"
                name="zip"
                maxlength="5"
                placeholder="Enter Zip Code"
                class="zip-field w-input"
            />
            <select
                id="subMenu"
                required=""
                name="subMenu"
                class="insurance-select w-select"
            >
                {{ if $d }}
                {{ else }}
                    <option id="defaultoption" value="">
                        Select Insurance Type
                    </option>
                {{ end }}
                {{- range .context.options -}}
                    {{ $id := . | lower }}
                    {{ range $data.quote_forms.safeco }}
                        {{ $l := .display | lower }}
                        {{ if eq $id $l }}
                            <option
                                id="{{ .id }}"
                                {{ if eq $d $l }}selected{{ end }}
                                value="{{ .value }}"
                                data-zip="zip"
                            >
                                {{ .display }}
                            </option>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </select>
            <input
                type="submit"
                value="Get a Quote"
                id="fakeBtn"
                class="get-a-quote w-button"
            />
            <input
                type="submit"
                value="Get a Quote"
                id="startBtn"
                onclick="submitForm();"
                class="get-a-quote w-button"
                style="display:none"
            />
        </div>
    </form>
</div>
<div class="quote-box-disclaimer">Insurance quoting provided by SafeCo</div>
