section {
  background-color: #f2f2f2;
}

body {
  box-shadow: 0 0 100px #00000080;
  background-color: #293b45;
  margin: auto
}

.w-lightbox-backdrop {
  margin: auto;
}
.polygon-small-to-large {
  -webkit-clip-path: polygon(41% 0, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(41% 0, 100% 0%, 100% 100%, 0 100%);
}

.gradient-screen {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 53%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 53%, 0 100%);
}

.polygon-large-to-small {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 41% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 41% 100%);
}

div,
footer,
header,
section {
  max-width: 1600px;
}