html.no-scroll {
    overflow: hidden;
}

.modal {
    display: none;
    z-index: 100;
}

.modal.is-open {
    display: block;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.modal.is-open > .image-overlay {
    z-index: 1!important;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.modal > .modal-content {
    padding: 100px;
    background: white;
    position: relative;
    z-index: 2;
    max-width: 1200px;
    width: 100%;
    overflow-y: scroll;
    max-height: 100%;
}

@media (max-width: 800px){
    .modal > .modal-content {
        padding: 20px;
    }
    .submit-button.large {
        font-size: 1.5rem;
    }
}

.form-block.homepage.modal-form {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    padding-top: 20px;
}

.modal-content .button.cancel {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(221, 221, 221);
    cursor: pointer;
}

.modal-content .submit-button {
    text-align: left;
}

.is-hidden {
    display: none!important;
}

.form-field.multi-input {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.form-field.multi-input > .control {
    position: relative;
    margin-right: 20px;
}

@media(max-width: 479px) {
    .form-field.multi-input > .control {
        width: 100%;
        margin-right: 0;
    }
}

.section-label {
    margin-bottom: 10px;
    /* font-size: 20px; */
    margin-left: 20px;
    position: relative;
    display: inline-block;
}
.section-label::before {
    background: black;
    display: block;
    content:" ";
    position: absolute;
    width: 15px;
    height: 1px;
    top: 50%;
    left: -20px;
}
.section-label::after {
    background: black;
    display: block;
    content:" ";
    position: absolute;
    width: 50px;
    height: 1px;
    top: 50%;
    left: 108%;
    right: -25px;
}

.blog-contact-form {
    margin: 70px 0;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.35);
    /* box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .3); */
    border-radius: 10px;
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.blog-contact-form .image-overlay {
    background-size: cover;
    background-color: transparent;
    opacity: 0.25;
}

.blog-contact-form .heading, .blog-contact-form form {
    z-index: 1;
    position: relative;
}

.blog-contact-form.light {
    background: white;
}

.blog-contact-form.dark {
    background: #333333;
    color: white;
}

.blog-contact-form.dark .text-field {
    background: white;
    /* opacity: 1; */
    /* border: 1px solid white; */
    color: #333333;
}

.blog-contact-form.dark .overlay-label {
    /* background: #333333;
    color: white; */
}

.blog-contact-form .heading {
    margin-bottom: 2rem;
}

.blog-contact-form .heading .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.blog-contact-form .heading .subtitle {
    font-size: 1rem;
    line-height: 100%;
}

.blog-contact-form .text-field {
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}

.multi-input.full-width {
    margin: -10px;
}

.multi-input.full-width .form-field {
    padding: 10px;
    width: 50%;
    margin-right: 0;
}

.multi-input.full-width .overlay-label {
    top: -3px;
    left: 20px;
}

@media(max-width: 479px) {
    .multi-input.full-width {
        margin: 0;
    }
    .multi-input.full-width .overlay-label {
        top: -13px;
        left: 10px;
    }
    .multi-input.full-width .form-field {
        width: 100%;
        padding: 0;
    }
}