---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- path: content/insurancecategories
  label: Product Categories
  create: all
- path: content/posts
  label: Posts
  create: all
- path: content/testimonies
  label: Testimonies
  create: all
- path: content
  label: Pages
  create: all
- path: content/products
  label: Products
  create: all
  templates:
  - product
upload_dir: ''
public_path: ''
front_matter_path: ''
use_front_matter_path: 
file_template: ":filename:"
version: 0.42.2
