{{ define "main" }}

<section class="page-banner-copy2-copyb">
    <div class="container flex-left">
        <div class="heading-6-copy-copy">
            <h1 class="heading-19">Insurance Articles</h1>
            <p class="quote-box-text">Resources to help you GetSmart when choosing your insurance.</p>
            <p class="paragraph-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                Duis cursus, mi quis viverra ornare, eros dolor interdum nulla</p>
        </div>
    </div>
</section>
<section class="main-content blog-home">
    <div class="polygon-small-to-large blog"></div>
    <div class="polygon-small-to-large blog-copy"></div>
    <div class="polygon-small-to-large blog-3"></div>
    <div class="container">
        <div class="div-block-39">
            <div class="div-block-40">
                <h1 class="h1-no-margins">Featured Readings</h1>
                <a href="/blog-list" class="view-all w-inline-block">
                    <div>View All</div>
                </a>
            </div>
        </div>
        <div class="flex-row featured-blogs">
            <div class="flex-grow featured-blog w-dyn-list">
                <div class="collection-list-5 w-dyn-items">
                    <div class="collection-item-5 w-dyn-item">
                        <a href="/post/20-myths-about-web-design" class="f-blog-link w-inline-block">
                            <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b285e8bb2e0b425ce75_andrew-welch-229148-unsplash.jpg&quot;)"
                                class="feature-blog-image">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="f-blog-content w-clearfix">
                                <h1 class="f-blog-title">Picking the Right Life Insurance Plan</h1>
                                <div class="author-photo"></div>
                                <div>by Mike Sosso</div>
                                <div>June 25, 2018</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="div-block-33">
                <div class="w-dyn-list">
                    <div class="collection-list-7 w-dyn-items">
                        <div class="collection-item-5 small w-dyn-item">
                            <a href="/post/15-best-blogs-to-follow-about-web-design" class="small-f-blog-link w-inline-block">
                                <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                    class="feature-blog-image-small">
                                    <div class="image-overlay"></div>
                                    <div class="small-f-blog-content w-clearfix">
                                        <h1 class="f-blog-title-small">How Having A Good Health Insurance Plan Makes Your Life Easier</h1>
                                        <div class="author-photo-small"></div>
                                        <div class="author-text">by Mike Sosso</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="collection-item-5 small w-dyn-item">
                            <a href="/post/7-must-have-tools-for-web-designers" class="small-f-blog-link w-inline-block">
                                <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                    class="feature-blog-image-small">
                                    <div class="image-overlay"></div>
                                    <div class="small-f-blog-content w-clearfix">
                                        <h1 class="f-blog-title-small">10 Ways A Good Health Insurance Plan Can Make Life Easier</h1>
                                        <div class="author-photo-small"></div>
                                        <div class="author-text">by Mike Sosso</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="collection-item-5 small w-dyn-item">
                            <a href="/post/10-great-examples-of-responsive-websites" class="small-f-blog-link w-inline-block">
                                <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66c9eb0b5ef6385f12_1528220772240-image16.jpg&quot;)"
                                    class="feature-blog-image-small">
                                    <div class="image-overlay"></div>
                                    <div class="small-f-blog-content w-clearfix">
                                        <h1 class="f-blog-title-small">10 Great Examples of Responsive Websites</h1>
                                        <div class="author-photo-small"></div>
                                        <div class="author-text">by Mike Sosso</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-block-41"></div>
        </div>
        <div class="div-block-43">
            <div class="div-block-44">
                <h1 class="h1-no-margin-large">Get Email Updates</h1>
                <p class="email-text">You&#x27;ll start receiving insurance advice right to your inbox.</p>
                <div class="quote-box-copy">
                    <form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="form-2-copy">
                        <div class="quote-form-wrap-copy">
                            <input type="text" class="text-field-2 w-input" maxlength="256" name="Email-3" data-name="Email 3"
                                placeholder="Enter email address" id="Email-3" required="" />
                            <input type="submit" value="Submit" data-wait="Please wait..." class="get-a-quote w-button" />
                        </div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
            <div class="quote-box-disclaimer">We treat customer information with great care. We never sell information, and we do not spam.</div>
        </div>
        <h1 class="heading-23">Recent Posts</h1>
        <div>
            <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
                <div class="tabs-menu-2 w-tab-menu">
                    <a data-w-tab="Tab 1" class="tab-link-tab-3 w-inline-block w-tab-link w--current">
                        <div>All</div>
                    </a>
                    <a data-w-tab="Tab 2" class="tab-link-tab-3 w-inline-block w-tab-link">
                        <div>Auto</div>
                    </a>
                    <a data-w-tab="Tab 3" class="tab-link-tab-3 w-inline-block w-tab-link">
                        <div>Home</div>
                    </a>
                    <a data-w-tab="Tab 4" class="tab-link-tab-3 w-inline-block w-tab-link">
                        <div>Life</div>
                    </a>
                    <a data-w-tab="Tab 5" class="tab-link-tab-3 w-inline-block w-tab-link">
                        <div>Health</div>
                    </a>
                    <a data-w-tab="Tab 6" class="tab-link-tab-3 w-inline-block w-tab-link">
                        <div>Other</div>
                    </a>
                </div>
                <div class="tabs-content w-tab-content">
                    <div data-w-tab="Tab 1" class="tab-pane-tab-1-2 w-tab-pane w--tab-active">
                            <div class="card-grid w-dyn-items">
                                {{ range first 5 .Data.Pages }}
                                <div class="card-grid-item w-dyn-item">
                                    <a href="{{ .RelPermalink }}" class="card-link w-inline-block">
                                        <div style="background-image:url({{ $.Site.Params.cloudinary_url }}w_350,q_60,f_auto{{ .Params.Featured_image }})"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">{{ .Title }}</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by {{ .Params.Author }}</div>
                                        </div>
                                    </a>
                                </div>
                                {{ end }}
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/20-myths-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b285e8bb2e0b425ce75_andrew-welch-229148-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">Picking the Right Life Insurance Plan</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                    </div>
                    <div data-w-tab="Tab 2" class="w-tab-pane">
                        <div class="w-dyn-list">
                            <div class="card-grid w-dyn-items">
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/20-myths-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b285e8bb2e0b425ce75_andrew-welch-229148-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">Picking the Right Life Insurance Plan</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/15-best-blogs-to-follow-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">How Having A Good Health Insurance Plan Makes Your Life Easier</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-things-nobody-told-you-about-being-a-web-designer" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b2ab63be8575eb129913daa_1529525819550-image20.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Things Nobody Told You About Being a Web Designer</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/the-worst-advice-weve-ever-heard-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66fae12c39d2bd3952_1528220772241-image11.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">The Worst Advice We&#x27;ve Ever Heard About Web Design</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-web-design-blogs-you-cant-miss" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b161994e18c9d11c471c24e_1528174994012-image13.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Web Design Blogs You Can&#x27;t Miss</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-great-examples-of-responsive-websites" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66c9eb0b5ef6385f12_1528220772240-image16.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Great Examples of Responsive Websites</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/what-will-website-be-like-in-100-years" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc67a1e1ca4c200b091b_1528220772248-image6.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">What Will Website Be Like In 100 Years?</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/designers-who-changed-the-web" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66fae12c39d2bd3952_1528220772241-image11.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">Designers Who Changed the Web</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/7-must-have-tools-for-web-designers" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Ways A Good Health Insurance Plan Can Make Life Easier</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/14-common-misconceptions-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b2ab63be8575eb129913daa_1529525819550-image20.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">14 Common Misconceptions About Web Design</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Tab 3" class="w-tab-pane">
                        <div class="w-dyn-list">
                            <div class="card-grid w-dyn-items">
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-web-design-blogs-you-cant-miss" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b161994e18c9d11c471c24e_1528174994012-image13.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Web Design Blogs You Can&#x27;t Miss</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/the-worst-advice-weve-ever-heard-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66fae12c39d2bd3952_1528220772241-image11.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">The Worst Advice We&#x27;ve Ever Heard About Web Design</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-things-nobody-told-you-about-being-a-web-designer" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b2ab63be8575eb129913daa_1529525819550-image20.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Things Nobody Told You About Being a Web Designer</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/15-best-blogs-to-follow-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">How Having A Good Health Insurance Plan Makes Your Life Easier</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/20-myths-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b285e8bb2e0b425ce75_andrew-welch-229148-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">Picking the Right Life Insurance Plan</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Tab 4" class="w-tab-pane">
                        <div class="w-dyn-list">
                            <div class="card-grid w-dyn-items">
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/14-common-misconceptions-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b2ab63be8575eb129913daa_1529525819550-image20.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">14 Common Misconceptions About Web Design</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/7-must-have-tools-for-web-designers" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Ways A Good Health Insurance Plan Can Make Life Easier</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/designers-who-changed-the-web" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66fae12c39d2bd3952_1528220772241-image11.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">Designers Who Changed the Web</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/what-will-website-be-like-in-100-years" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc67a1e1ca4c200b091b_1528220772248-image6.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">What Will Website Be Like In 100 Years?</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-great-examples-of-responsive-websites" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66c9eb0b5ef6385f12_1528220772240-image16.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Great Examples of Responsive Websites</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Tab 5" class="w-tab-pane">
                        <div class="w-dyn-list">
                            <div class="card-grid w-dyn-items">
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/what-will-website-be-like-in-100-years" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc67a1e1ca4c200b091b_1528220772248-image6.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">What Will Website Be Like In 100 Years?</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/the-worst-advice-weve-ever-heard-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66fae12c39d2bd3952_1528220772241-image11.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">The Worst Advice We&#x27;ve Ever Heard About Web Design</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/20-myths-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b285e8bb2e0b425ce75_andrew-welch-229148-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">Picking the Right Life Insurance Plan</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/15-best-blogs-to-follow-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">How Having A Good Health Insurance Plan Makes Your Life Easier</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/designers-who-changed-the-web" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66fae12c39d2bd3952_1528220772241-image11.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">Designers Who Changed the Web</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/14-common-misconceptions-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b2ab63be8575eb129913daa_1529525819550-image20.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">14 Common Misconceptions About Web Design</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-web-design-blogs-you-cant-miss" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b161994e18c9d11c471c24e_1528174994012-image13.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Web Design Blogs You Can&#x27;t Miss</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/7-must-have-tools-for-web-designers" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Ways A Good Health Insurance Plan Can Make Life Easier</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-things-nobody-told-you-about-being-a-web-designer" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b2ab63be8575eb129913daa_1529525819550-image20.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Things Nobody Told You About Being a Web Designer</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-great-examples-of-responsive-websites" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66c9eb0b5ef6385f12_1528220772240-image16.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Great Examples of Responsive Websites</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-tab="Tab 6" class="w-tab-pane">
                        <div class="w-dyn-list">
                            <div class="card-grid w-dyn-items">
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/14-common-misconceptions-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b2ab63be8575eb129913daa_1529525819550-image20.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">14 Common Misconceptions About Web Design</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-web-design-blogs-you-cant-miss" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b161994e18c9d11c471c24e_1528174994012-image13.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Web Design Blogs You Can&#x27;t Miss</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/the-worst-advice-weve-ever-heard-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66fae12c39d2bd3952_1528220772241-image11.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">The Worst Advice We&#x27;ve Ever Heard About Web Design</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/7-must-have-tools-for-web-designers" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Ways A Good Health Insurance Plan Can Make Life Easier</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/designers-who-changed-the-web" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66fae12c39d2bd3952_1528220772241-image11.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">Designers Who Changed the Web</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-things-nobody-told-you-about-being-a-web-designer" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b2ab63be8575eb129913daa_1529525819550-image20.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Things Nobody Told You About Being a Web Designer</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/15-best-blogs-to-follow-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">How Having A Good Health Insurance Plan Makes Your Life Easier</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/what-will-website-be-like-in-100-years" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc67a1e1ca4c200b091b_1528220772248-image6.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">What Will Website Be Like In 100 Years?</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/10-great-examples-of-responsive-websites" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66c9eb0b5ef6385f12_1528220772240-image16.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">10 Great Examples of Responsive Websites</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-grid-item w-dyn-item">
                                    <a href="/post/20-myths-about-web-design" class="card-link w-inline-block">
                                        <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b285e8bb2e0b425ce75_andrew-welch-229148-unsplash.jpg&quot;)"
                                            class="blog-card-image">
                                            <div class="image-overlay"></div>
                                        </div>
                                        <div class="blog-card-content w-clearfix">
                                            <h1 class="blog-card-title">Picking the Right Life Insurance Plan</h1>
                                            <div class="author-photo-small"></div>
                                            <div class="author-text">by Mike Sosso</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}