{{ define "main" }}
<section class="page-banner-copy2">
    <div class="container flex-left">
        <div class="product-quote-box">
            <h1 class="quote-box-heading">Auto &amp; Vehicle Insurance</h1>
            <p class="quote-box-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim</p>
            <div class="quote-box w-form">
            <div class="quote-box-disclaimer">Insurance quoting provided by SafeCo</div>
        </div>
    </div>
</section>
<section class="main-content product">
    <div class="container">
        <div class="flex-row product">
            <div class="sidebar">
                {{ partial "product-menu.html" . }}
            </div>
            <div class="flex-grow product">
                <div class="w-richtext">
                    {{ .Content }}
                </div>
                <h1 class="heading-13">Relevant Readings</h1>
                <div class="w-dyn-list">
                    <div class="collection-list-3 w-dyn-items">
                        <div class="w-dyn-item">
                            <a href="/post/14-common-misconceptions-about-web-design" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">14 Common Misconceptions About Web Design</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/10-web-design-blogs-you-cant-miss" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">10 Web Design Blogs You Can&#x27;t Miss</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/the-worst-advice-weve-ever-heard-about-web-design" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">The Worst Advice We&#x27;ve Ever Heard About Web Design</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/7-must-have-tools-for-web-designers" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">10 Ways A Good Health Insurance Plan Can Make Life Easier</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/designers-who-changed-the-web" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">Designers Who Changed the Web</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/10-things-nobody-told-you-about-being-a-web-designer" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">10 Things Nobody Told You About Being a Web Designer</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/15-best-blogs-to-follow-about-web-design" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">How Having A Good Health Insurance Plan Makes Your Life Easier</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/what-will-website-be-like-in-100-years" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">What Will Website Be Like In 100 Years?</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/10-great-examples-of-responsive-websites" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">10 Great Examples of Responsive Websites</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/20-myths-about-web-design" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">Picking the Right Life Insurance Plan</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}