{{ define "main" }}
{{- $phone := $.Site.Data.general_settings.contact_info.phone -}}
<section class="page-banner-copy2-copy" style="background-image: URL({{ .Site.Params.cloudinary_url }}w_1600,q_50,f_auto{{ .Params.Featured_image }})">
    <div class="div-block-16"></div>
    <div class="container flex-left">
        <div class="product-quote-box">
            <h1 class="quote-box-heading">{{ .Title }}</h1>
            <p class="quote-box-text">{{ .Params.Subheading }}</p>
            {{ $data := $.Site.Data }}
            {{ if .Params.Quote }}
                {{ range first 1 .Params.quote }}
                    {{ if eq .template "custom-link"}}
                        <a
                            class="get-a-quote"
                            target="_blank"
                            href="{{ .button_link | safeURL }}"
                            >
                            {{ .button_text }}
                        </a>
                    {{ else if eq .template "call-for-a-quote" }}
                        <a
                            class="link-block-3 w-inline-block"
                            href="tel:{{- if .phone_number -}}
                                {{- .phone_number -}}
                            {{- else -}}
                                {{- $phone -}}
                            {{- end -}}"
                        >
                            <div class="call-us-large">
                                {{ .heading }}<br />{{- if .phone_number -}}
                                    {{- .phone_number -}}
                                {{- else -}}
                                    {{ $phone }}
                                {{ end }}
                            </div>
                        </a>
                    {{ else if eq .template "safeco-quote-form" }}
                        {{ partial "forms/safeco-quote-form.html" (dict "context" . "data" $data ) }}
                    {{ else if eq .template "unitedhealthcare-quote-form" }}
                    <form name="unitedhform" id="unitedhform" onsubmit="getquote()">
                        <div class="quote-form-wrap">
                            <input id="uhZip" required="" type="text" name="zip" maxlength="5" placeholder="Enter Zip Code" class="zip-field w-input">
                            <select id="uhProduct" required="" name="Product" class="insurance-select w-select">
                                {{ if .default }}{{ else }}<option value="">Select insurance type</option>{{ end }}
                                {{ $def := .default | lower }}
                                {{ range .options }}
                                    {{ $id := . | lower }}
                                    {{ range $.Site.Data.quote_forms.unitedhealthcare }}
                                        {{ $l := .display | lower }}
                                        {{ if eq $id $l }}<option {{ if eq $def $l -}}selected{{- end }} value="{{ .value }}">{{ .display }}</option>{{ end }}
                                    {{ end }}
                                {{ end }}
                            </select>
                            <input type="submit" id="uhFakeBtn" value="Get a Quote" class="get-a-quote w-button">
                            <!--<a href="#" target="_blank" id="uhQuoteBtn" class="get-a-quote w-button" style="display:none">Get A Quote</a>-->
                            <input type=submit id="uhQuoteBtn" class="get-a-quote w-button" onclick="submit" value="Get a Quote" style="display:none"/>
                        </div>
                    </form>
                    {{ else if eq .template "quoteit-quote-form" }}
                        {{ partial "forms/quoteit-quote-form.html" (dict "context" . "data" $.Site.Data ) }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
<section class="main-content product">
    <div class="container">
        <div class="flex-row product">
            <div class="sidebar">
                {{ partial "product-menu.html" . }}
            </div>
            <div class="flex-grow product">
                <div class="w-richtext">
                    {{ replace .Content "https://res.cloudinary.com/modii/" "https://res.cloudinary.com/modii/w_750,q_50,f_auto/" | safeHTML }}
                </div>
                <div class="flex-grid" style="margin-top: 20px; margin-bottom: 20px">
                    {{ $category := replace .File.Path "\\" "/" }}
                    {{ range sort (where $.Site.RegularPages "Params.category" $category) ".Title" }}
                    <article class="product-item">
                        <a href="{{ .RelPermalink }}">
                          <h2>{{ .Title }}</h2>
                          <p>{{ .Description }}</p>
                        </a>
                    </article>
                    {{ end }}
                </div>
                <!-- <h1 class="heading-13">Relevant Readings</h1>
                <div class="w-dyn-list">
                    <div class="collection-list-3 w-dyn-items">
                        <div class="w-dyn-item">
                            <a href="/post/14-common-misconceptions-about-web-design" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">14 Common Misconceptions About Web Design</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/10-web-design-blogs-you-cant-miss" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">10 Web Design Blogs You Can&#x27;t Miss</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/the-worst-advice-weve-ever-heard-about-web-design" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">The Worst Advice We&#x27;ve Ever Heard About Web Design</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/7-must-have-tools-for-web-designers" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">10 Ways A Good Health Insurance Plan Can Make Life Easier</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/designers-who-changed-the-web" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">Designers Who Changed the Web</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/10-things-nobody-told-you-about-being-a-web-designer" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">10 Things Nobody Told You About Being a Web Designer</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/15-best-blogs-to-follow-about-web-design" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">How Having A Good Health Insurance Plan Makes Your Life Easier</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/what-will-website-be-like-in-100-years" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">What Will Website Be Like In 100 Years?</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/10-great-examples-of-responsive-websites" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">10 Great Examples of Responsive Websites</h2>
                            </a>
                        </div>
                        <div class="w-dyn-item">
                            <a href="/post/20-myths-about-web-design" class="link-block-7 w-inline-block">
                                <h2 class="heading-14">Picking the Right Life Insurance Plan</h2>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ define "addscripts"}}
    {{ if .Params.quote }}
        {{ range first 1 .Params.quote }}
            {{ if eq .template "safeco-quote-form" }}
                {{ partial "forms/safeco-scripts.html" . }}
            {{ else if eq .template "unitedhealthcare-quote-form" }}
                {{ partial "forms/uhc-scripts.html" . }}
            {{ else if eq .template "quoteit-quote-form" }}
                {{ partial "forms/quoteit-form-scripts.html" . }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}