<nav class="blog-nav">
        <a href="/posts/all/" class="tab-link-tab-3 w-inline-block">
            <div>All</div>
        </a>
        <a href="/posts/featured/" class="tab-link-tab-3 w-inline-block w--current">
            <div>Featured</div>
        </a>
            {{ range $.Site.Taxonomies.categories.Alphabetical }}
            <a href="/categories/{{ .Name | urlize }}/" class="tab-link-tab-3 w-inline-block">
                <div>{{ .Name | title }}</div>
            </a>
            {{ end }}
    </nav>