<footer class="footer">
    <div class="container">
        <div class="flex-row">
            <div class="footer-column">
                <a href="#" class="footer-logo w-inline-block">
                    <img src="{{ .Site.Data.general_settings.website_settings.logo_light }}" />
                </a>
                <div class="slogan">{{ .Site.Data.general_settings.website_settings.site_slogan }}
                    <!--Don't just get insurance. Get InsuranceSmart--></div>
                <div class="social-icons footer">
                    {{ range .Site.Data.general_settings.social_media }}
                    <a href="{{ .url }}" class="social-link w-inline-block">
                        <i class="fab fa-{{ .platform }}"></i>
                    </a>
                    {{ end }}
                </div>
            </div>
            <div class="footer-column">
                {{ partial "footer-nav.html" . }}
            </div>
            <div class="footer-column">
                <div class="footer-mailing-list">Join Our Mailing List</div>
                <div>
                    <form id="email-form">
                        <input type="text" class="text-field w-input" maxlength="256" name="mcEmail" placeholder="Enter your email"
                            id="mcEmail" required>
                        <input type="submit" class="submit-button w-button">
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright-bar">
            <div>Copyright 2018 InsuranceSmart LLC. &nbsp;|&nbsp;&nbsp;
                <a href="https://modiimedia.com" class="modii-credit">Website by
                    <strong>Modii&nbsp;Media</strong>
                </a>
            </div>
        </div>
    </div>
</footer>