<div class="footer-heading">{{ $.Site.Data.menus.footer_menu.menu_1.name }}</div>
<div class="div-block-12">
    {{ range $.Site.Data.menus.footer_menu.menu_1.children }}
    <a href="{{ .url }}" class="footer-link w-inline-block">
        <div>{{ .name }}</div>
    </a>
    {{ end }}
</div>
<div class="footer-heading">{{ $.Site.Data.menus.footer_menu.menu_2.name }}</div>
<div class="div-block-12">
    {{ range $.Site.Data.menus.footer_menu.menu_2.children }}
    <a href="{{ .url }}" class="footer-link w-inline-block">
        <div>{{ .name }}</div>
    </a>
    {{ end }}
</div>