<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="div-block-3">
                <a class="logo w-inline-block">
                    <div>Insurance
                        <strong class="bold-text">Smart</strong>
                    </div>
                </a>
            </div>
            <nav class="nav-wrapper">
                {{ partial "main-nav.html" . }}
                {{ partial "mobile-nav.html" . }}
                <a href="tel:2106990281" class="nav-link phone w-inline-block">
                    <div class="text-block-2"></div>
                    <div class="text-block-3">&nbsp;&nbsp;210-699-0281</div>
                    <div class="text-block-4">&nbsp;&nbsp;call us</div>
                </a>
                <div class="social-icons">
                    <a href="#" class="social-link w-inline-block">
                        <div></div>
                    </a>
                    <a href="#" class="social-link w-inline-block">
                        <div></div>
                    </a>
                    <a href="#" class="social-link w-inline-block">
                        <div></div>
                    </a>
                </div>
                <a href="#" data-w-id="6714678d-cb9c-b655-5209-6473232315fb" class="link-block-2 w-inline-block">
                    <div></div>
                </a>
            </nav>
        </div>
    </div>
</header>