<div class="nav-items">
    <a href="/" class="nav-link w-inline-block w--current">
        <div class="nav-link-text">Home</div>
    </a>
    <div class="nav-link dropdown-trigger">
        <a href="/products" class="nav-link w-inline-block">
            <div class="nav-link-text">Shop Insurance &nbsp;<i class="fas fa-chevron-down"></i></div>
        </a>
        <div class="dropdown shop hide" style="display: none;">
            
            <div class="dropdown-columns">
                {{ range .Site.Data.menus.shop_menu }}
                {{ if .children }}
                    <div class="dropdown-column">
                        {{ range .children }}
                        <a href="
                            {{- if .external_url -}}
                                {{- .external_url -}}
                            {{- else -}}
                                {{- with $.Site.GetPage .url -}}
                                    {{- .RelPermalink -}}
                                {{- end -}}
                            {{- end -}}" class="nav-heading w-inline-block">
                            <div class="text-block-10">{{ .name }}</div>
                            <div class="text-block-11">&nbsp;&nbsp;&nbsp;&nbsp;{{ safeHTML .icon  }}</div>
                        </a>
                        {{ if .children }}
                            {{ range .children }}
                            <a href="
                                {{- if .external_url -}}
                                    {{- .external_url -}}
                                {{- else -}}
                                    {{- with $.Site.GetPage .url -}}
                                        {{- .RelPermalink -}}
                                    {{- end -}}
                                {{- end -}}" class="shop-link w-inline-block">
                                <div class="nav-link-text">{{ .name }}</div>
                            </a>
                            {{ end }}
                        {{ end }}
                        {{ end }}
                    </div>
                {{ end }}
                {{ end }}
            </div>
            <div class="dropdown-secondary-content">
                <div class="link-copy">
                    <div>For questions call
                        <a href="tel:{{ $.Site.Data.general_settings.contact_info.phone }}" class="text-link">
                            <strong>{{ $.Site.Data.general_settings.contact_info.phone }}</strong>
                        </a>
                        <strong>
                            <br>
                        </strong>or email
                        <a href="mailto:{{ $.Site.Data.general_settings.contact_info.email }}?subject=Question%20About%20Insurance" class="text-link">
                            <strong>{{ $.Site.Data.general_settings.contact_info.email }}</strong>
                        </a>
                    </div>
                </div>
                <a href="/products/" class="link w-inline-block">
                    <div>View All Products</div>
                </a>
            </div>
        </div>
    </div>
    <!--hide get smart-->
    <!-- <a href="/posts" class="nav-link w-inline-block">
        <div class="nav-link-text">Get Smart</div>
    </a> -->
    <div class="nav-link dropdown-trigger">
        <div class="nav-link">
            <div class="nav-link-text">Explore&nbsp;&nbsp;<i class="fas fa-chevron-down"></i></div>
        </div>
        <div data-w-id="6714678d-cb9c-b655-5209-6473232315ae" class="dropdown" style="display: none;">
            {{ range .Site.Data.menus.explore_menu }}
                <a href="
                    {{- if .external_url -}}
                        {{- .external_url -}}
                    {{- else -}}
                        {{- with $.Site.GetPage .url -}}
                            {{- .RelPermalink -}}
                        {{- end -}}
                    {{- end -}}" class="nav-link w-inline-block">
                    <div class="nav-link-text">{{ .name }}</div>
                </a>
            {{ end }}
        </div>
    </div>
</div>