<div data-w-id="6714678d-cb9c-b655-5209-6473232315b8" class="nav-items mobile">
    <a href="/" class="nav-link w-inline-block">
        <div class="nav-link-text">Home</div>
    </a>
    <div class="nav-link dropdown-trigger">
        <div class="nav-link">
            <div class="nav-link-text">Shop Insurance &nbsp;</div>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="dropdown" style="display: none;">
            {{ range $.Site.Data.menus.shop_menu }}
                {{ if .children }}
                    {{ range .children }}
                        <a
                            href="
                            {{- if .external_url -}}
                                {{- .external_url -}}
                            {{- else -}}
                                {{- with $.Site.GetPage .url -}}
                                    {{- .RelPermalink -}}
                                {{- end -}}
                            {{- end -}}
                                "
                            class="nav-link w-inline-block"
                        >
                            <div class="nav-link-text">{{ .name }}</div>
                        </a>
                    {{ end }}
                {{ end }}
            {{ end }}
            <a href="/products/" class="nav-link emphasis w-inline-block">
                <div class="nav-link-text">View All</div>
            </a>
        </div>
    </div>
    <!--hide get smart-->
    <!-- <a href="/posts/" class="nav-link w-inline-block">
            <div class="nav-link-text">Get Smart</div>
        </a> -->
    <div class="nav-link dropdown-trigger">
        <div class="nav-link">
            <div class="nav-link-text">Explore&nbsp;&nbsp;</div>
            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="dropdown" style="display: none;">
            {{ range $.Site.Data.menus.explore_menu }}
                <a
                    href="
                    {{- if .external_url -}}
                        {{- .external_url -}}
                    {{- else -}}
                        {{- with $.Site.GetPage .url -}}
                            {{- .RelPermalink -}}
                        {{- end -}}
                    {{- end -}}"
                    class="nav-link w-inline-block"
                >
                    <div class="nav-link-text">{{ .name }}</div>
                </a>
            {{ end }}
        </div>
    </div>
    <div class="social-icons mobile">
        {{ range .Site.Data.general_settings.social_media }}
            <a href="{{ .url }}" class="social-link w-inline-block">
                <i class="fab fa-{{ .platform }}"></i>
            </a>
        {{ end }}
    </div>
</div>
