{{- define "title" -}}{{ $.Site.Data.general_settings.website_settings.site_title }} | {{ $.Site.Data.general_settings.website_settings.site_slogan }}{{- end -}} 
{{- define "main" -}}
<section class="hero-banner">
    <div class="container">
        <div class="flex-row">
            <div class="hero-content">
                <h1 class="heading">{{- .Params.banner_heading -}}</h1>
                <p class="paragraph">{{- .Params.banner_text -}}</p>
                <a href="/products" class="hero-button w-inline-block">
                    <div class="text-block">Shop Insurance</div>
                </a>
                <a href="#" class="ghost-button w-inline-block">
                    <div class="text-block-2"><i class="fas fa-phone"></i>&nbsp;</div>
                    <div class="text-block">Contact Us</div>
                </a>
            </div>
            <div class="hero-content flex-grow hero-video-container">
                {{- if eq .Params.banner_media.video_type "youtube" -}} {{- $v := replace .Params.banner_media.youtube_url "https://www.youtube.com/watch?v=" "" -}} {{- $v2 := replace $v "https://youtu.be/" "" -}}
                <a href="#" class="lightbox-link _3d w-inline-block w-lightbox" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://img.youtube.com/vi/{{ $v2 }}/maxresdefault.jpg')">
                    <div class="play-icon"><i class="fas fa-play"></i></div>
                    <script type="application/json" class="w-json">
                          {
                            "items": [{
                              "type": "video",
                              "originalUrl": "https://www.youtube.com/watch?v={{ $v2 }}",
                              "url": "https://www.youtube.com/watch?v={{ $v2 }}",
                              "html": "<iframe src=\"https://www.youtube.com/embed/{{ $v2 }}?autoplay=1&rel=0&showinfo=0&modestbranding=1\" width=\"720\" height=\"420\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>",
                              "thumbnailUrl": "https://i.ytimg.com/vi/{{ $v2 }}/hqdefault.jpg",
                              "width": 940,
                              "height": 528
                            }]
                          }
                        </script>
                </a>
                {{- end -}}
            </div>
        </div>
    </div>
    <div class="polygon-small-to-large" style="background-image: url({{ $.Site.Params.cloudinary_url }}w_960,q_60,f_auto{{ .Params.banner_media.background_image }})">
        <div class="div-block _2"></div>
    </div>
</section>
{{- range .Params.components -}}
    {{- $t := .template -}}
    {{ if ne .hide true }}
        {{- if eq $t "testimony-slider" -}}
            <section class="section-dark" style="background-image: url({{ $.Site.Params.cloudinary_url }}w_1600,q_40,f_auto{{ .background_image }})">
                <div class="image-overlay"></div>
                <div class="container">
                    <h1 class="dark-heading">{{ .heading }}</h1>
                    <div data-animation="slide" data-duration="500" data-infinite="1" class="slider w-slider">
                        <div class="mask w-slider-mask">
                            {{- if eq .show "most recent" -}} 
                                {{- range first 10 (where $.Site.RegularPages "Section" "testimonies") -}} 
                                    {{- partial "components/testimony-slider.html" . -}} 
                                {{- end -}} 
                            {{- else -}}
                                <div>Hi</div>
                            {{- end -}}
                        </div>
                        <div class="left-arrow w-slider-arrow-left">
                            <div class="arrow-icon w-icon-slider-left"><i class="fas fa-chevron-left"></i></div>
                        </div>
                        <div class="right-arrow w-slider-arrow-right">
                            <div class="arrow-icon w-icon-slider-right"><i class="fas fa-chevron-right"></i></div>
                        </div>
                        <div class="slide-nav w-slider-nav w-round">
                            <div class="w-slider-dot w-active" data-wf-ignore=""></div>
                            <div class="w-slider-dot" data-wf-ignore=""></div>
                        </div>
                        <a href="#" class="button-gold w-inline-block">
                            <div>VIEW&nbsp;ALL</div>
                        </a>
                    </div>
                </div>
            </section>
        {{- end -}} 
        {{- if eq $t "contact-form-company-info" -}}
            {{ $cUrl := $.Site.Params.cloudinary_url }}
            {{ $phone := $.Site.Data.general_settings.contact_info.phone }}
            {{ $fax := $.Site.Data.general_settings.contact_info.fax }}
            {{ $email := $.Site.Data.general_settings.contact_info.email }}
            {{ $street := $.Site.Data.general_settings.contact_info.address }}
            {{ $street2 := $.Site.Data.general_settings.contact_info.address_line2 }}
            {{ $city := $.Site.Data.general_settings.contact_info.city }}
            {{ $state := $.Site.Data.general_settings.contact_info.state }}
            {{ $zip := $.Site.Data.general_settings.contact_info.zip }}
            
            {{ $p := print $street "<br>" $street2 "<br>" $city ", " $state " " $zip }}
            
            {{- partial "components/contact-component.html" (dict "Params" . "cUrl" $cUrl "phone" $phone "fax" $fax "email" $email "address" $p ) -}} 
        {{- end -}}
        {{- if eq $t "content-left" -}}
            {{ $cUrl := $.Site.Params.cloudinary_url }}
            {{- partial "components/content-left.html" (dict "cLeft" . "cUrl" $cUrl) -}}
        {{ end }}
    {{ end }}
{{- end -}} 
{{- end -}}