{{ define "main" }}
    <section class="main-content blog-home">
        <div class="polygon-small-to-large blog"></div>
        <div class="polygon-small-to-large blog-copy"></div>
        <div class="container">
            {{ partial "forms/mailchimp-form.html" . }}
            {{ if eq .Section "categories" }}
                {{ partial "blog-nav.html" . }}
            {{ else }}
                <a href="/{{ .Section | urlize }}"
                    ><span
                        style="margin-top: 20px; margin-bottom: -20px; font-weight: bold; opacity: 0.8;"
                        >View all {{ .Section | pluralize }}</span
                    ></a
                >
                <h1 style="margin-top: 5px;">
                    Results for "{{ .Name | title }}"
                </h1>
            {{ end }}
            <div class="card-grid w-dyn-items">
                {{ range .Data.Pages }}
                    {{ partial "post-card.html" . }}
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}
