{{ define "main"}}
<section style="background-image:url({{ .Site.Params.cloudinary_url }}w_1600,q_80{{ .Params.Featured_Image }})"
    class="page-banner-copy2-copy">
    <div class="container">
        <div class="product-quote-box">
            <h1 class="quote-box-heading">{{ .Title }}</h1>
            <p class="quote-box-text">Minus possimus voluptatem quo mollitia sapiente. Ea soluta iusto et possimus impedit. Nemo animi veniam est.
                Quaerat vel totam vel molestias</p>
            {{ if .Params.quote }}
            {{ range first 1 .Params.quote }}
                {{ if eq .template "safeco-quote-form" }}
                {{ $d := .default }}
                <div class="w-embed w-script">
                        <form name="gaqList" id="gaqList" onsubmit="return submitForm();">
                            <div class="quote-form-wrap" onload="setProduct();">
                                <input id="zip" required="" type="text" name="zip" maxlength="5" placeholder="Enter Zip Code" class="zip-field w-input">
                                <select id="subMenu" required="" name="subMenu" class="insurance-select w-select">
                                    {{ if $d }}{{ else }}<option id="defaultoption" value="">Select Insurance Type</option>{{ end }}
                                    {{- range .options -}}
                                        {{ $id := . | lower }}
                                        {{ range $.Site.Data.quote_forms.safeco }}
                                            {{ $l := .display | lower }}
                                            {{ if eq $id $l }}
                                            <option id="{{ .id }}" {{ if eq $d $l }}selected{{ end }} value="{{ .value }}" data-zip="zip">{{ .display }}</option>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </select>
                                <input type="submit" value="Get a Quote" id="fakeBtn" class="get-a-quote w-button">
                                <input type="submit" value="Get a Quote" id="startBtn" onclick="submitForm();" class="get-a-quote w-button" style="display:none">
                            </div>
                        </form>
                </div>
                <div class="quote-box-disclaimer">Insurance quoting provided by SafeCo</div>
                {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </div>
    <div class="div-block-16"></div>
</section>
<section class="main-content product">
    <div class="container">
        <div class="flex-row product">
            <aside class="sidebar">
                {{ partial "product-menu.html" . }}
                <div class="sidebar-section">Suggested Readings</div>
                <div>
                    <div class="collection-list-wrapper w-dyn-list">
                        <div class="w-dyn-items">
                            <div class="w-dyn-item">
                                <a href="/post/14-common-misconceptions-about-web-design" class="suggested-reading w-inline-block">
                                    <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66fae12c39d2bd3952_1528220772241-image11.jpg&quot;)"
                                        class="sreading-photo"></div>
                                    <div class="sreading-content">
                                        <h2 class="sreading-title">14 Common Misconceptions About Web Design</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="w-dyn-item">
                                <a href="/post/10-web-design-blogs-you-cant-miss" class="suggested-reading w-inline-block">
                                    <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b2ab5780879e6feef3c4162_1529525624138-image7.jpg&quot;)"
                                        class="sreading-photo"></div>
                                    <div class="sreading-content">
                                        <h2 class="sreading-title">10 Web Design Blogs You Can&#x27;t Miss</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="w-dyn-item">
                                <a href="/post/the-worst-advice-weve-ever-heard-about-web-design" class="suggested-reading w-inline-block">
                                    <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b161996ca7e3983842cc878_1528174994634-image5.jpg&quot;)"
                                        class="sreading-photo"></div>
                                    <div class="sreading-content">
                                        <h2 class="sreading-title">The Worst Advice We&#x27;ve Ever Heard About Web Design</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="w-dyn-item">
                                <a href="/post/7-must-have-tools-for-web-designers" class="suggested-reading w-inline-block">
                                    <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                        class="sreading-photo"></div>
                                    <div class="sreading-content">
                                        <h2 class="sreading-title">10 Ways A Good Health Insurance Plan Can Make Life Easier</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="w-dyn-item">
                                <a href="/post/designers-who-changed-the-web" class="suggested-reading w-inline-block">
                                    <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66c9eb0b5ef6385f12_1528220772240-image16.jpg&quot;)"
                                        class="sreading-photo"></div>
                                    <div class="sreading-content">
                                        <h2 class="sreading-title">Designers Who Changed the Web</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <main class="flex-grow product">
                {{ if .Params.mikes_take }}
                <div class="div-block-19 w-clearfix">
                    <h1 class="mikes-take">Mike&#x27;s Take</h1>
                    <div class="take-title">Founder &amp; CEO</div>
                    <div class="div-block-20"></div>
                    {{ .Params.mikes_take }}
                </div>
                {{ end }}
                <div>
                    <div data-duration-in="300" data-duration-out="100" class="w-tabs">
                        <div class="tabs-menu w-tab-menu">
                            <a data-w-tab="Tab 4" class="tab-link-tab-2 w-inline-block w-tab-link w--current">
                                <div>Product Details</div>
                            </a>
                            {{ if .Params.faqs }}
                            <a data-w-tab="Tab 2" class="tab-link-tab-2 w-inline-block w-tab-link">
                                <div>Frequently Asked Questions</div>
                            </a>
                            {{ end }}
                            {{ if .Params.resources }}
                            <a data-w-tab="Tab 3" class="tab-link-tab-2 w-inline-block w-tab-link">
                                <div>Resources</div>
                            </a>
                            {{ end }}
                        </div>
                        <div class="product-details w-tab-content">
                            <div data-w-tab="Tab 4" class="w-tab-pane w--tab-active">
                                <div class="w-richtext">
                                    {{ .Content }}
                                </div>
                            </div>
                            <div data-w-tab="Tab 2" class="w-tab-pane">
                                {{ range .Params.faqs }}
                                <div class="faq">
                                    <div class="faq-header">
                                        <div class="chevron-left"><i class="fas fa-chevron-right"></i></div>
                                        <div class="chevron-down"><i class="fas fa-chevron-down"></i> </div>
                                        <h2 class="heading-11">{{ .question }}</h2>
                                    </div>
                                    <div class="faq-answer">
                                        {{ .answer | markdownify }}
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                            <div data-w-tab="Tab 3" class="w-tab-pane">
                                <ul class="unordered-list">
                                    {{ range .Params.resources }}
                                    <li>
                                        <a target="_blank" class="w-inline-block" {{ if .file -}}href="{{- $.Site.Params.cloudinary_url -}}{{- .file -}}" {{ else -}}href="{{- .url -}}"{{- end -}}>
                                            <div>{{- if .name -}}{{- .name -}}{{- else -}}{{- .file -}}{{- end -}}</div>
                                        </a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
{{ end }}

{{ define "addscripts" }}
    {{ partial "forms/safeco-scripts.html" . }}
{{ end }}