{{ define "main"}}
<section style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b2d4e30525acce3704fe325_cam-bowers-124438-unsplash%20(1).jpg&quot;)"
    class="page-banner-copy2-copy">
    <div class="container">
        <div class="product-quote-box">
            <h1 class="quote-box-heading">Auto</h1>
            <p class="quote-box-text">Minus possimus voluptatem quo mollitia sapiente. Ea soluta iusto et possimus impedit. Nemo animi veniam est.
                Quaerat vel totam vel molestias</p>
            <div class="w-embed w-script">
                {{ partial "forms/safeco.html" . }}
            </div>
            <div class="quote-box-disclaimer w-condition-invisible">Insurance quoting provided by UnitedHealthCare</div>
            <div class="quote-box-disclaimer">Insurance quoting provided by SafeCo</div>
        </div>
    </div>
    <div class="div-block-16"></div>
</section>
<section class="main-content product">
    <div class="container">
        <div class="flex-row product">
            <aside class="sidebar">
                <div class="sidebar-content">
                    <div class="sidebar-category">
                        <div class="text-block-17">Section: Personal Auto &amp; Vehicle</div>
                        <div data-w-id="ad87ec45-3c28-7fd1-0a5c-f4a1d4bfc8f2" class="chevron-down">  </div>
                        <div data-w-id="dd30f1a3-1441-7a02-d9df-c0a920e6b2b8" class="chevron-left">  </div>
                    </div>
                    <div data-w-id="ad6c370b-e4af-00f1-d09f-50460c02b5ef" class="div-block-18">
                        <a href="/auto" class="sidebar-heading w-inline-block">
                            <div class="text-block-17">Personal Auto &amp; Vehicle</div>
                            <div class="text-block-11">  </div>
                        </a>
                        <div class="product-content">
                            <a href="/products/auto" class="sidebar-heading sublink w-inline-block w--current">
                                <div>Auto Insurance</div>
                            </a>
                            <a href="#" class="sidebar-heading sublink w-inline-block">
                                <div>Motorcycle Insurance</div>
                            </a>
                            <a href="/products/boat" class="sidebar-heading sublink w-inline-block">
                                <div>Boat &amp; Watercraft Insurance</div>
                            </a>
                            <a href="#" class="sidebar-heading sublink w-inline-block">
                                <div>RV Insurance</div>
                            </a>
                        </div>
                    </div>
                    <div class="div-block-18">
                        <a class="sidebar-heading w-inline-block">
                            <div class="text-block-17">Life</div>
                            <div class="text-block-11">  </div>
                        </a>
                    </div>
                    <div class="div-block-18">
                        <a class="sidebar-heading w-inline-block">
                            <div class="text-block-17">Health</div>
                            <div class="text-block-11">  </div>
                        </a>
                    </div>
                </div>
                <div class="sidebar-section">Suggested Readings</div>
                <div>
                    <div class="collection-list-wrapper w-dyn-list">
                        <div class="w-dyn-items">
                            <div class="w-dyn-item">
                                <a href="/post/14-common-misconceptions-about-web-design" class="suggested-reading w-inline-block">
                                    <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66fae12c39d2bd3952_1528220772241-image11.jpg&quot;)"
                                        class="sreading-photo"></div>
                                    <div class="sreading-content">
                                        <h2 class="sreading-title">14 Common Misconceptions About Web Design</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="w-dyn-item">
                                <a href="/post/10-web-design-blogs-you-cant-miss" class="suggested-reading w-inline-block">
                                    <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b2ab5780879e6feef3c4162_1529525624138-image7.jpg&quot;)"
                                        class="sreading-photo"></div>
                                    <div class="sreading-content">
                                        <h2 class="sreading-title">10 Web Design Blogs You Can&#x27;t Miss</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="w-dyn-item">
                                <a href="/post/the-worst-advice-weve-ever-heard-about-web-design" class="suggested-reading w-inline-block">
                                    <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b161996ca7e3983842cc878_1528174994634-image5.jpg&quot;)"
                                        class="sreading-photo"></div>
                                    <div class="sreading-content">
                                        <h2 class="sreading-title">The Worst Advice We&#x27;ve Ever Heard About Web Design</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="w-dyn-item">
                                <a href="/post/7-must-have-tools-for-web-designers" class="suggested-reading w-inline-block">
                                    <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b318b5c1e5234b80fff9fcc_pablo-heimplatz-317359-unsplash.jpg&quot;)"
                                        class="sreading-photo"></div>
                                    <div class="sreading-content">
                                        <h2 class="sreading-title">10 Ways A Good Health Insurance Plan Can Make Life Easier</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="w-dyn-item">
                                <a href="/post/designers-who-changed-the-web" class="suggested-reading w-inline-block">
                                    <div style="background-image:url(&quot;https://uploads-ssl.webflow.com/5b161991122bed2b364e911a/5b16cc66c9eb0b5ef6385f12_1528220772240-image16.jpg&quot;)"
                                        class="sreading-photo"></div>
                                    <div class="sreading-content">
                                        <h2 class="sreading-title">Designers Who Changed the Web</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <main class="flex-grow product">
                <div class="div-block-19 w-clearfix">
                    <h1 class="mikes-take">Mike&#x27;s Take</h1>
                    <div class="take-title">Founder &amp; CEO</div>
                    <div class="div-block-20"></div>
                    <p class="take-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                        Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                        Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique
                        posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
                        libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                        risus tristique posuere.
                        <br/>
                    </p>
                </div>
                <div>
                    <div data-duration-in="300" data-duration-out="100" class="w-tabs">
                        <div class="tabs-menu w-tab-menu">
                            <a data-w-tab="Tab 4" class="tab-link-tab-2 w-inline-block w-tab-link w--current">
                                <div>Product Details</div>
                            </a>
                            <a data-w-tab="Tab 2" class="tab-link-tab-2 w-inline-block w-tab-link">
                                <div>Frequently Asked Questions</div>
                            </a>
                            <a data-w-tab="Tab 3" class="tab-link-tab-2 w-inline-block w-tab-link">
                                <div>Resources</div>
                            </a>
                        </div>
                        <div class="product-details w-tab-content">
                            <div data-w-tab="Tab 4" class="w-tab-pane w--tab-active">
                                <div class="w-richtext">
                                    <p>Eveniet aliquam architecto dolores ipsam et. Odio sed sit qui nulla vel excepturi. Quaerat
                                        et est. Minima hic aut magnam dicta ipsam sint quo eum. Et molestiae eos tempore
                                        sed corrupti qui omnis. Asperiores adipisci est ratione odio iure aut dolor et et.</p>
                                    <h3>Sit atque voluptates maiores et voluptas dolorum sit dolor.</h3>
                                    <blockquote>Repellat ea quibusdam quis quibusdam dolorem et. Quos dolorem quo officia. Qui sunt amet
                                        error est consequuntur omnis labore. Rerum et distinctio.</blockquote>
                                    <p>Voluptatem enim accusantium occaecati. Aliquam culpa quisquam voluptatum sunt repudiandae
                                        qui. Consequatur odio dolor sunt. Autem nulla iusto. Vero eum odio ea odit.</p>
                                    <p>Velit dolor dolore neque laboriosam inventore dolore officiis. Aperiam laborum voluptas.
                                        Delectus qui ut et voluptatem culpa.</p>
                                    <h2>Ad in ratione velit quis.</h2>
                                    <p>Animi qui ut ullam quam sint dolor aut aperiam aspernatur. Ipsam amet error consequuntur.
                                        Nesciunt deleniti voluptates totam ut.</p>
                                    <h3>Sunt voluptatem alias sint.</h3>
                                    <blockquote>Qui nulla consequuntur rerum. Placeat earum ipsam ut inventore. Ut voluptatem excepturi
                                        quas autem.</blockquote>
                                    <p>Sit maxime qui ad laborum autem dolores rem voluptatem aliquam. Harum officiis corrupti
                                        ut vitae nisi minima earum quidem. Illo cum in corporis illo libero inventore sed
                                        corporis sed. Quo inventore exercitationem eum. Rerum totam nisi. Modi et magnam
                                        provident maiores culpa est.</p>
                                    <p>Laboriosam perspiciatis repellat adipisci ipsum quia ab dolor maiores sit. Animi recusandae
                                        nisi. Voluptas aut omnis optio corrupti officiis provident quod. Saepe necessitatibus
                                        ipsa in maiores.</p>
                                </div>
                            </div>
                            <div data-w-tab="Tab 2" class="w-tab-pane">
                                <div class="faq">
                                    <div class="faq-header">
                                        <div data-w-id="94a06d86-bc4f-914f-9cb9-8d9c03c02281" class="chevron-left"> </div>
                                        <div data-w-id="f4f7c5ff-a87c-2c48-4b52-14b3686cea13" class="chevron-down"> </div>
                                        <h2 class="heading-11">What is your name?</h2>
                                    </div>
                                    <div data-w-id="3b799c54-f87c-8b9c-e79b-14ae54789f5d" class="faq-answer">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
                                            in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
                                            interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                                            cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                                    </div>
                                </div>
                                <div class="faq">
                                    <div class="faq-header">
                                        <div class="chevron-left"> </div>
                                        <div class="chevron-down"> </div>
                                        <h2 class="heading-11">What is your quest?</h2>
                                    </div>
                                    <div class="faq-answer">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
                                            in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
                                            interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                                            cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                                    </div>
                                </div>
                                <div class="faq">
                                    <div class="faq-header">
                                        <div class="chevron-left"> </div>
                                        <div class="chevron-down"> </div>
                                        <h2 class="heading-11">What is your favorite color?</h2>
                                    </div>
                                    <div class="faq-answer">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
                                            in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
                                            interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                                            cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                                    </div>
                                </div>
                            </div>
                            <div data-w-tab="Tab 3" class="w-tab-pane">
                                <ul class="unordered-list">
                                    <li>
                                        <a target="_blank" href="https://uploads-ssl.webflow.com/5b15b5ea5e7a8541a9fd052a/5b2ecc90e1801d335800e4aa_1929176%20(1).jpg"
                                            class="w-inline-block">
                                            <div>SafeCo Boat &amp; Watercraft Brochure</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
{{ end }}